####################################
# Maven / Java
####################################
target/
*.class
*.jar
*.war
*.ear

####################################
# Maven Wrapper
####################################
.mvn/wrapper/maven-wrapper.jar

####################################
# Logs
####################################
*.log
logs/

####################################
# OS files
####################################
.DS_Store
Thumbs.db

####################################
# IntelliJ IDEA
####################################
.idea/
*.iml
*.iws
*.ipr

####################################
# Eclipse / STS
####################################
.project
.classpath
.settings/
.springBeans
.sts4-cache
.apt_generated
.factorypath

####################################
# VS Code
####################################
.vscode/

####################################
# NetBeans
####################################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

####################################
# Environment files
####################################
.env
.env.*
application-local.properties
